<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Clientes</li>
  </ol>
</nav>

<!-- <div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Clientes
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="novo" class="btn btn-success float-right">
      + Novo Cliente
    </a>
  </div>
</div> -->

<div class="card">
  <div class="cs-accent-card"></div>
  <div class="cs-card-header">
    Clientes
    <div class="header">
      <a routerLink="novo" class="btn btn-success float-right">
        + Novo Cliente
      </a>
    </div>
  </div>
  <div class="search cs-card-content">
    <div class="form-row">
      <div class="input-group input-focus">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" placeholder="Digite o nome do cliente" class="form-control border-left-0" (input)="buscar($event.target.value)" > 
      </div>
    </div>
  </div>
  <div class="empty-state-list cs-card-content" *ngIf="!clientes || clientes.length == 0">
    <img src="../../../../assets/images/empty-state.svg" alt="">
    <h2>Nenhum cliente encontrado de acordo com os filtros aplicados</h2>
    <!-- <p>você poderá acompanhar seu historico de vendas aqui.</p> -->
  </div>
  <table *ngIf="clientes && clientes.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Valor por sessão</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.nome}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.valorSessao}}</td>
        <td>
          <a [routerLink]="[cliente.id, 'edite']" class="btn btn-outline-info btn-sm">Editar</a>
          <button (click)="Remova(cliente)" class="btn btn-outline-danger btn-sm ml-2">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginador *ngIf="clientes && clientes.length > 0" [totalDeItens]="quantidadeTotalDeItens || 0"
    [pageSize]="pageSize" (aoMudarDePagina)="obtenhaTodos($event)">
  </app-paginador>
</div>